@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap');

*,*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epilogue';
}
body{height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
header{
    width: 375px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 80px;
    margin-top: 50px;
    align-items: center;
    align-content: center;
   
   
}

header h1{
    font-weight: 700;
    font-size: 32px;
    color: rgba(23, 35, 57, 1);
    
}
header button{
  font-weight: 700;
  font-size: 14px;
  width: 182px;
  height: 48px;
  background-color: white;
  border: 2px solid rgba(23, 35, 57, 1);
  border-radius: 6px;
  
}

header button:hover{
    cursor: pointer;
    background-color: rgba(23, 35, 57, 1);
    transition: 1s;
    color: white;
}
main{
    width: 375px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin-bottom: 100px;
    
}
.textandbutton{
    padding-left: 16px;
    padding-right: 16px;
}
.rkali{
   background-image: url(./assets/mobrkali.svg);
   background-position:80% 10%;
   padding-top:30px;
   background-repeat: no-repeat;
   
}
.textandbutton h1{
    font-weight: 400;
    font-size: 38px;
    line-height: 44px;
    color: rgba(23, 35, 57, 1);
    margin-bottom: 32px;
    
}

.bolder{
    font-weight: 700;
    font-size: 38px;
    line-height: 44px;
    color: rgba(23, 35, 57, 1);
}
.textandbutton p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(73, 86, 109, 1);
    line-height: 28px;
    margin-bottom: 32px;
}

.textandbutton button{
    width: 256px;
    height: 61px;
    border-radius: 6px;
    background-color:rgba(23, 35, 57, 1) ;
    color: white;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 50px;
}
.textandbutton button:hover{
    cursor: pointer;
    background:linear-gradient(135deg, #A060FF 0%, #CB30E3 49.21%, #FFA84E 100%);
    transition: 1s;
    color: white;
    border: none;
}
.information{
    height: 350px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
  
    
}
.companies h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: rgba(23, 35, 57, 1);
    text-align: center;
}

.companies p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgba(73, 86, 109, 1);
    text-align: center;
}

section{


    width: 375px;
    height: 100vh;
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    position: relative;
    background-color: rgba(23, 35, 57, 1);
    padding-bottom: 80px;
    
}
.boy{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    position: relative;
    margin-top: -170px;

    
}

.sectiontext{display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 40px;
    margin-top: 20px;
    

}

.sectiontext h1{
    font-weight: 700;
    font-size: 40px;
    color: rgba(250, 248, 246, 1);
    text-align: center;
}
.sectiontext p{
    font-weight: 400;
    font-size: 18px;
    color: rgba(243, 237, 231, 1);
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
}
    .sectiontext h2{
    font-weight: 700;
    font-size: 18px;
    color: rgba(250, 248, 246, 1);
    text-align: center;
    }
    .sectiontext h3{
        font-weight: 400;
        font-size: 16px;
        color: rgba(250, 248, 246, 1);
        text-align: center;
        }

    footer{
        width: 375px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(243, 237, 231, 1);
        gap: 60px;   
        padding-top: 30px;
        padding-bottom: 40px;
       
    }

    .footerLogo{
        font-weight: 700;
        font-size: 32px;
        color: rgba(23, 35, 57, 1);
        
    }

    .copyright{
        font-weight: 400;
        font-size: 15px;
        color: rgba(23, 35, 57, 1);
    }
    .socmedia{display: flex;
        gap: 20px;
    }
    footer img:hover{
        cursor: pointer;
        filter:brightness(2);
    }

.tabletmob{
    display: none;
}